body {
  background-image: url("https://www.pngmagic.com/product_images/dusty-blue-background-images-free-download-pngmagic.jpg") !important;
  background-size: cover !important;
  color: #fff !important;
}
